<div class="contact-us-container">
<div class="row">
  <div class="col-xs-12 col-sm-5">
    <div class="row">
      <div class="col-12">
        <div class="card card-contact">
            <h6 class="card-contact-header">Contact Details </h6>
            <div class="card-block">
            <div class="card-text">
              <p>{{schoolInfo.title}}</p>
              <p>{{schoolInfo.address}}</p>
              <p>Landline No.: {{schoolInfo.landlineNo}}</p>
              <p>Mobile No.: {{schoolInfo.MobileNumber}}</p>
              <p>Email: {{schoolInfo.email}}</p>
             </div>
          </div>
        </div>
    </div>

  </div>
  <div class="row">
      <div class="col-12">
        <div class="card card-contact">
            <h6 class="card-contact-header">Feedback</h6>
            <div class="card-block">
            <div class="card-text">
              <p>{{schoolInfo.title}}</p>
              <p>{{schoolInfo.address}}</p>
              <p>Landline No.: {{schoolInfo.landlineNo}}</p>
              <p>Mobile No.: {{schoolInfo.MobileNumber}}</p>
              <p>Email: {{schoolInfo.email}}</p>
             </div>
          </div>
        </div>
    </div>

  </div>
</div>
<div class="col-xs-12 col-sm-7">
    <div class="row">
      <div class="col-12">
        <div class="card card-contact">
            <h6 class="card-contact-header">Locate Us</h6>
            <div class="card-block">
            <div class="card-text">
                <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
                    <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
                  </agm-map>
             </div>
          </div>
        </div>
    </div>

  </div>
</div>
</div>
</div>