<div class="row">
                      <div class="col-12">
                        <app-caraousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
                          <app-slide *ngFor="let slidez of slides; let index=index"
                                 [active]="slidez.active">
                            <img [src]="slidez.image" style="margin:auto;">

                            <div class="carousel-caption">
                              <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
                              <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
                            </div>
                          </app-slide>
                        </app-caraousel>
                      </div>

                      <div class="col-md-12">
                        
                      </div>
 </div>
 <!--Panel Section begin here-->
<div class="row">
        <div class="col-xs-12 col-sm-3">
          <div class="card card-home">
            <h6 class="card-header card-home-header">Upcoming Events </h6>
            <div class="card-block">
            <div class="card-text">
              <marquee direction=up>
                <p>Sports Day on Friday</p>
                 <p>PTM on Saturday</p>

              </marquee>


              </div>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-3">
          <div class="card card-home">
            <h6 class="card-header card-home-header">Admission Details </h6>
            <div class="card-block">
            <div class="card-text">
                {{admissionDetail}}
            </div>
          </div>
        </div>
      </div>
       <div class="col-xs-12 col-sm-3">
          <div class="card card-home">
            <h6 class="card-header card-home-header">Notice to Parents</h6>
            <div class="card-block">
            <div class="card-text">
              {{parentsNotice}}
            </div>
          </div>
        </div>
      </div>
        <div class="col-xs-12 col-sm-3">
          <div class="card card-home">
            <h6 class="card-header card-home-header">Photo Gallery</h6>
            <div class="card-block">
            <div class="card-text">
               <p> <a>Academic pictures</a></p>
               <p> <a>Extra-curricular pictures</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Panel Section End here-->